@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.atrribution_div {
  width: 100vw;
  position: absolute;
  bottom: 2vw;
  left: 10px;
  color: black;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 1024px;
  height: auto;
  font-size: 14px;
  overflow-x: hidden;
}

.design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .6;
  z-index: 200000000000;
  display: none;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
  background-color: #2b3945;
  -webkit-box-shadow: 0px 1px 35px 5px #202c37;
          box-shadow: 0px 1px 35px 5px #202c37;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}

.header img {
  margin-left: auto;
  height: 1rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.header p {
  font-size: 1rem;
  margin-left: .8rem;
  font-weight: 600;
  color: white;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(1024px - 5rem);
  padding: 3rem 5rem;
}

.main .search {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .search .search_box {
  position: relative;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.6rem;
  background-color: #2b3945;
  border-radius: .5rem;
}

.main .search .search_box .search_img {
  width: 1.5rem;
  height: 1.5rem;
}

.main .search .search_box .search_input {
  margin-left: 1.3rem;
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: none;
  color: white;
  font-size: .9rem;
}

.main .search .search_box .search_input::-webkit-input-placeholder {
  color: white;
  font-size: .9rem;
}

.main .search .search_box .search_input:-ms-input-placeholder {
  color: white;
  font-size: .9rem;
}

.main .search .search_box .search_input::-ms-input-placeholder {
  color: white;
  font-size: .9rem;
}

.main .search .search_box .search_input::placeholder {
  color: white;
  font-size: .9rem;
}

.main .search .search_filter {
  position: relative;
  top: 0;
  left: 0;
  width: 12.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .6rem 0 1.5rem;
  background-color: #2b3945;
  border-radius: .5rem;
}

.main .search .search_filter img {
  width: 1.5rem;
  height: 1.2rem;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  pointer-events: none;
}

.main .search .search_filter p {
  color: white;
  font-size: .9rem;
  pointer-events: none;
}

.main .search .filter_options {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: .4rem;
  width: 12.5rem;
  right: 0rem;
  top: 100%;
  border-radius: .5rem;
  background-color: #2b3945;
}

.main .search .filter_options div {
  width: 100%;
  padding: 0rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: .55rem;
  opacity: 0;
}

.main .search .filter_options div p {
  color: white;
  pointer-events: none;
}

.main .search .filter_options div img {
  visibility: hidden;
  width: .8rem;
  height: .8rem;
  pointer-events: none;
}

.main .search .filter_options div:nth-child(1) {
  padding-top: .95rem;
}

.main .search .filter_options div:nth-child(5) {
  padding-bottom: .95rem;
}
/*# sourceMappingURL=style.css.map */