::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 38px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 7px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
// sass
@mixin position($p,$t,$l) {
    position: $p;
    top:$t;
    left: $l;
}

@mixin font($s,$w,$c) {
    font-size: $s;
    font-weight: $w;
    color: $c;
}
@mixin display($f,$d,$a,$j){
    display: $f;
    flex-direction: $d;
    align-items: $a;
    justify-content: $j;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
.atrribution_div{width: 100vw; position: fixed; bottom: 2vw; left : 10px; color: black;z-index: 2000000000000000;}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html{overflow-x: hidden;}
body{
    @include position(relative,0,0);
    max-width: 100vw;
    background-color: hsl(207, 26%, 17%);
    min-height: 100vh;
    height: 100%;
    font-size: 14px;
    overflow-x: hidden;
    max-width: 1930px;
}
@media only screen and(min-width: 1920px){
    body{
        left: calc((100vw - 1920px) / 2)
    }
}
// header
.header{
    @include position(relative,0,0);
    width: 100%;
    height: 5rem;
    @include display(flex,row,center,unset);
    padding: 0 5rem;
    background-color:hsl(209, 23%, 22%) ;
    // background-color: red;
    box-shadow: 0px 3px 10px -8px black;
    z-index: 2000;
    h1{
        @include font(1.5rem,800 , hsl(0, 0%, 100%));
    }
    img{
        margin-left: auto;
        height: 1rem;
        transform: rotate(-30deg);
    }
    p{
        @include font(1rem,600 , hsl(0, 0%, 100%));
        margin-left: .8rem;
    }
}
// header media
@media only screen and (max-width: 650px){
    .header{padding: 0 5vw;}
}
@media only screen and (max-width: 450px){
    .header{
        h1{font-size: 5vw;}
        img{height: 4vw;}
        p{font-size: 4vw;margin-left: 2vw;}}
}
// main
.main{
    @include position(relative,0,0);
    width: 100%;
    min-height: 100vh;
    max-width: 1920px;
    height: 100%;
    padding: 3rem 0rem;
    background-color: hsl(207, 26%, 17%);
    .search{
        @include position(relative,0,0);
        @include display(flex,row,center,space-between);
        width: 100%;
        height: 3.5rem;
        padding: 0rem 5rem;
        z-index: 2000000000;
        .search_box{
            @include position(relative,0,0);
            @include display(flex,unset,center,unset);
            width: 30rem;
            height: 100%;
            padding: 0 1.6rem;
            background-color: hsl(209, 23%, 22%);
            box-shadow: 0px 0px 10px -5px black;
            border-radius: .5rem;
            .search_img{
                width: 1.5rem;
                height: 1.5rem;
            }
            .search_input{
                @include font(.9rem,600 , white);
                margin-left: 1.3rem;
                background-color: transparent;
                outline: none;
                border: none;
                text-decoration: none;
                width: 100%;
                z-index: 200000;
                &::placeholder{
                    @include font(.9rem,600 , white);
                    color: white;
                    font-size: .9rem;
                }
            }
        }
        .search_filter{
            @include position(relative,0,0);
            @include display(flex,unset,center,space-between);
            width: 12.5rem;
            height: 100%;
            padding: 0 .6rem 0 1.5rem;
            background-color: hsl(209, 23%, 22%);
            border-radius: .5rem;
            box-shadow: 0px 0px 10px -5px black;
            z-index: 20000;
            img{
                width: 1.5rem;
                height: 1.2rem;
                transform: rotate(-180deg);
                pointer-events: none;
            }
            p{
                @include font(.9rem,600 , white);
                pointer-events: none;
            }
        }
        .filter_options{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            margin-top: .4rem;
            width: 12.5rem;
            right: 5rem;top: 100%;
            border-radius: .5rem;
            background-color: hsl(209, 23%, 22%);
            box-shadow: 0px 0px 10px -5px black;
            div{
                @include display(flex,row,center,space-between);
                width: 100%;
                padding: 0rem 1.5rem;
                padding-top: .55rem;
                opacity: 0;
                p{
                    color:white;
                    pointer-events: none;
                }
                img{
                    visibility: hidden;
                    width: .8rem;
                    height: .8rem;
                    pointer-events: none;
                }
            }
            div:nth-child(1){
                padding-top: .95rem;
            }
            div:nth-child(5){
                padding-bottom: .95rem;
            }
            div[data-selected="true"]{
                img{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .sliderDot{
        @include display(flex,unset,center,center);
        height: 3rem;
        width: 100%;
        .dot{
            width: .5rem;
            height: .5rem;
            border-radius: 9in;
            background-color: white;
            margin: 0 .3rem;
            box-shadow: 0px 0px 5px 0px black;
        }
        .dot[data-visible="true"]{
            background-color: orange;
        }
    }
    .left-arrow,.right-arrow{
        @include display(flex,unset,center,center);
        top: calc((100% / 2) + 1rem);
        position: absolute;
        width: 5rem;
        height: 5rem;
        z-index: 200000;
        img{
            width: 3rem;
            padding: 0.5rem;
            height: 5rem;
            border-radius: .5rem;
            border: 1px solid white;
            box-shadow: 0px 0px 10px -5px black;
        }
    }
    .left-arrow{
        left: 0;
    }
    .right-arrow{
        right: 0;
    }
    .countries{
        @include position(relative,0,0);
        width: 100%;
        max-width: 1920px !important;
        .country_page{
            @include position(relative,0,5rem);
            width: calc(100% - 10rem);
            display: grid;
            max-width: 1920px !important;
            grid-row-gap: 4.6rem;
            grid-column-gap: 1.5rem;
            justify-content: space-between;
            grid-template-columns: repeat(4, 16.5rem);
            padding-bottom: .5rem;
            // display: none;
            .country{
                width: 16.5rem;
                height: 21rem;
                border-radius: .5rem;
                background-color: hsl(209, 23%, 22%);
                overflow-x: hidden;
                box-shadow: 0px 0px 15px -5px black;
                .country_img_box{
                    @include position(relative,0,0);
                    @include display(flex,unset,center,center);
                    width: 100%;
                    height: 10rem;
                    overflow: hidden;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    pointer-events: none;
                }
                .country_info{
                    padding: 1.4rem .5rem 0rem 1.35rem;
                    margin-bottom: 2rem;
                    pointer-events: none;
                    h1{
                        @include font(1.3rem,800 , white);
                        margin-bottom: .8rem;
                        pointer-events: none;
                    }
                    p{
                        @include font(1rem,600 , white);
                        margin-bottom: .2rem;
                        pointer-events: none;
                        span{
                            @include font(.9rem,300 , white);
                            margin-left: .2rem;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
        .country_page[data-visible="false"]{
            @include position(absolute,0,200vw);
            display: none;
            width: 100%;
            visibility: hidden;
        }
    }
}
// main media
@media only screen and (max-width: 600px){
    .main{padding: 2rem 0rem 3rem 0rem;}
}
// search media
@media only screen and (max-width: 880px){
    .main{
        .search{padding: 0rem 5vw; .filter_options{right:5vw;}}}
}
@media only screen and (max-width: 780px){
    .main{
        .search{height: auto;flex-direction: column;align-items: flex-start;justify-content: flex-start;
            .search_box{width: 35rem;height: 3.5rem;}
            .search_filter{margin-top: 2rem;width: 15rem;height: 3rem;}
            .filter_options{width: 15rem;right: 0;left: 5vw;}}}
}
@media only screen and (max-width: 630px){
    .main{
        .search{
            .search_box{width: 100%;height: 3.5rem;}}}
}
@media only screen and (max-width: 430px){
    .main{
        .search{
            .search_box{height: 3.3rem;
                .search_img{width: 5vw;height: 5vw;}
                .search_input{margin-left: 5vw;font-size: 4.5vw;
                    &::placeholder{font-size: 4.5vw;}}}
            .search_filter{margin-top: 1rem;width: 50vw;height: 3.3rem;padding: 0 2vw 0 4vw;
                img{width: 6vw;height: 5vw;}
                p{font-weight: 300;font-size: 4vw;}}
            .filter_options{width: 50vw;
                div{
                    p{font-size: 4vw;}
                    img{width: 3vw;height: 3vw;}}}}}
}
// slider and arrow media 
@media only screen and (max-width: 1050px){
    .main{
        .sliderDot{
            .dot{width: .5rem;height: .5rem;}}
        .left-arrow,.right-arrow{top: 10rem;}}
}
@media only screen and (max-width: 780px){
    .main{
        .left-arrow,.right-arrow{top: 12.5rem;}}
}
@media only screen and (max-width: 750px){
    .main{
        .left-arrow,.right-arrow{width:2rem;img{width:2rem}}
        .left-arrow{left: .5rem;}
        .right-arrow{right: .5rem;}}
}
@media only screen and (max-width: 700px){
    .main{
        .sliderDot{
            .dot{width: 1.25vw;height: 1.25vw;margin: 0 .5vw;}}}
}
@media only screen and (max-width: 600px){
    .main{
        .left-arrow,.right-arrow{top:11.5rem;width:7vw;img{width:7vw;padding:0 1vw;}}
        .left-arrow{left: 1vw;}
        .right-arrow{right: 1vw;}}
}
// countries media
@media only screen and (max-width: 1300px){
    .main{
        .countries{
            .country_page{grid-template-columns: repeat(auto-fill, 17.5rem);
                .country{width: 17.5rem;}}}}
}
@media only screen and (max-width: 1050px){
    .main{
        .countries{
            .country_page{justify-content: space-around;}}}
}
@media only screen and (max-width: 750px){
    .main{
        .countries{
            .country_page{left: 3rem;width: calc(100vw - 6rem);
                .country{width: 16.5rem;}}}}
}
@media only screen and (max-width: 680px){
    .main{
        .countries{
            .country_page{justify-content: center;grid-template-columns: 20rem;
                .country{width: 20rem;}}}}
}
@media only screen and (max-width: 500px){
    .main{
        .countries{
            .country_page{grid-template-columns: 70vw;
                .country{width: 70vw;}}}}
}
@media only screen and (max-width: 400px){
    .main{
        .countries{
            .country_page{left: 10vw;width: calc(80vw);grid-template-columns: 80vw;
                .country{width: 80vw;}}}}
}
// details
.main{
    .detail{
        @include position(absolute,0,200vw);
        @include display(flex,column,flex-start,flex-start);
        width: 100vw;
        height: 100%;
        z-index: 2000000000;
        max-width: 1920px;
        background-color: hsl(207, 26%, 17%);
        padding: 5rem;
        .back{
            @include display(flex,row,center,center);
            outline: none;
            border: none;
            text-decoration: none;
            text-align: center;
            height: 2.5rem;
            width: 8.5rem;
            background-color: hsl(209, 23%, 22%);
            box-shadow: 0px 3px 10px -5px black;
            border-radius: .5rem;
            img{
                margin-left: -.5rem;
                height: 1.5rem;
                width: 1.5rem;
                pointer-events: none;
            }
            p{
                margin-left: .5rem;
                @include font(1rem,600, white);
                pointer-events: none;
            }
        }
        .details{
            margin-top: 7.5rem;
            @include display(flex,row,flex-start,flex-start);
            width: 100%;
            height: auto;
            .d_img{
                position: absolute;
                width: 35rem;
                height: 25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .d_info{
                position: absolute;
                right: 5rem;
                width: 36rem;
                margin-left: 9rem;
                margin-top: 2.5rem;
                h1{
                    @include font(2rem,800, white);
                }
                .info_box{
                    margin-top: 1.7rem;
                    @include display(flex,row,flex-start,space-between);
                    div{
                        p{
                            @include font(1rem,600, white);
                            margin-bottom: .6rem;
                            span{
                                @include font(1rem,300, white);
                            }
                        }
                    }
                }
                .info_f{
                    margin-top: 4.5rem;
                    @include display(flex,row,flex-start,flex-start);
                    .i_border{
                        width: 11rem;
                        @include font(1rem,600, white);
                    }
                    .borders{
                        flex-wrap: wrap;
                        margin-left: .5rem;
                        @include display(flex,row,flex-start,flex-start);
                        p{
                            @include font(.8rem,300, white);
                            padding:0.25rem 2rem;
                            background-color: hsl(209, 23%, 22%);
                            box-shadow: 0px 0px 15px -5px black;
                            border-radius: .3rem;
                            margin-right: .5rem;
                            margin-bottom: .5rem;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1320px){
    .main{
        .detail{padding: 5vw;
            .details{
                .d_info{right: 5vw;}}}}
}
@media only screen and (max-width: 1280px){
    .main{
        .detail{
            .back{height: 3.2vw;width: 12vw;
                img{margin-left: -.5vw;height: 1.8vw;width: 4vw;}
                p{margin-left: .5vw;@include font(1.25vw,600, white);}}
            .details{margin-top: 9vw;
                .d_img{width: 43vw;height: 31vw;}
                .d_info{width: 40vw;margin-top: 2vw;
                    h1{@include font(3vw,800, white);}
                    .info_box{margin-top: 2vw;
                        div{
                            p{@include font(1.25vw,600, white);margin-bottom: 1vw;
                                span{@include font(1.15vw,300, white);}}}}
                    .info_f{margin-top: 4vw;
                        .i_border{width: 15vw;@include font(1.25vw,600, white);}
                        .borders{margin-left: 1vw;
                            p{@include font(.9vw,300, white);padding:.4vw 2.5vw;margin-right: .5vw;margin-bottom: .7vw;}}}}}}}
}
@media only screen and (max-width: 900px){
    .main{
        .detail{
            .back{height: 4.25vw;width: 15vw;
                img{height: 2.5vw;width: 4.5vw;}
                p{@include font(1.55vw,600, white);}}
            .details{
                .d_info{width: 44vw;margin-top: 0vw;
                    h1{@include font(4vw,800, white);}
                    .info_box{
                        div{
                            p{@include font(1.5vw,600, white);
                                span{@include font(1.3vw,300, white);}}}}
                    .info_f{
                        .i_border{width: 23vw;@include font(1.5vw,600, white);}
                        .borders{
                            p{@include font(1.25vw,300, white);padding:.7vw 3.5vw;margin-right: .8vw;margin-bottom: .8vw;}}}}}}}
}
@media only screen and (max-width: 790px){
    .main{
        .detail{padding: 5vw;
            .back{height: 2.8rem;width: 9rem;
                img{margin-left: -.5rem;height: 1.5rem;width: 1.5rem;}
                p{margin-left: .5rem;@include font(1rem,600, white);}}
            .details{margin-top: 2rem;@include display(flex,column,center,flex-start);
                .d_img{position: relative;width: 30rem;height: 20rem;}
                .d_info{position: relative;left: 0;right: 0;width: 35rem;margin-left: 0rem;margin-top: 2.5rem;
                    h1{width: 100%;text-align :center;@include font(2.5rem,800, white);}
                    .info_box{margin-top: 1.7rem;
                        div{
                            p{@include font(1rem,600, white);margin-bottom: .6rem;
                                span{@include font(1rem,300, white);}}}}
                    .info_f{margin-top: 4.5rem;
                        .i_border{width: 16rem;@include font(1rem,600, white);}
                        .borders{margin-top: -.25rem;margin-left: 1rem;
                            p{@include font(.8rem,300, white);padding:0.25rem 2rem;border-radius: .3rem;margin-right: .5rem;margin-bottom: .5rem;}}}}}}}
}
@media only screen and (max-width: 700px){
    .main{height: auto;
        .detail{
            .back{padding: .5rem;}
            .details{
                .d_img{width: 80vw;height: 50vw;}
                .d_info{width: 100%;
                    .info_f{
                        .i_border{width: 17rem;}}}}}}
}
@media only screen and (max-width: 530px){
    .main{
        .detail{
            .details{
                .d_img{width: 100%;height: 55vw;}
                .d_info{
                    .info_box{
                        div{
                            p{@include font(3.25vw,600, white);
                                span{@include font(2.75vw,300, white);}}}}
                    .info_f{
                        .i_border{width: 50vw;@include font(3.25vw,600, white);}
                        .borders{
                            p{@include font(2.5vw,300, white);}}}}}}}
}
@media only screen and (max-width: 450px){
    .main{
        .detail{
            .back{height: 10vw;width: 30vw;
                img{margin-left: -1vw;height: 5vw;width: 10vw;}
                p{margin-left: 0vw;@include font(3.25vw,600, white);}}
            .details{
                .d_info{
                    h1{@include font(9vw,800, white);}
                    .info_box{
                        div{
                            p{
                                span{@include font(3vw,300, white);}}}}
                    .info_f{
                        .borders{margin-left: 1vw;
                            p{@include font(3vw,300, white);padding:0.25rem 6vw;margin-right: 2vw;margin-bottom: 2.5vw }}}}}}}
}
.body_white{background-color: hsl(207, 26%, 17%);
    .header{background-color:hsl(0, 0%, 100%);
        h1{color: hsl(200, 15%, 8%);}
        p{color: hsl(200, 15%, 8%);}}
    .main{background-color: hsl(0, 0%, 98%);
        .search{
            .search_box{background-color: hsl(0, 0%, 100%);box-shadow: 0px 0px 10px -5px black;
                .search_input{color : hsl(200, 15%, 8%);
                    &::placeholder{color: hsl(0, 0%, 52%);}}}
            .search_filter{background-color: hsl(0, 0%, 100%);
                p{color : hsl(200, 15%, 8%);}}
            .filter_options{background-color: hsl(0, 0%, 100%);
                div{
                    p{color : hsl(200, 15%, 8%);font-weight: 600;}}}}
        .countries{
            .country_page{
                .country{background-color: hsl(0, 0%, 100%);
                    .country_info{
                        h1{color : hsl(200, 15%, 8%);}
                        p{color : hsl(200, 15%, 8%);
                            span{color : hsl(200, 15%, 8%);font-weight: 600;}}}}}}}
    .main{background-color: hsl(0, 0%, 98%);
        .detail{background-color: hsl(0, 0%, 98%);
            .back{background-color:hsl(0, 0%, 100%);
                p{color: hsl(200, 15%, 8%);}}
            .details{
                .d_info{
                    h1{color: hsl(200, 15%, 8%);}
                    .info_box{
                        div{
                            p{color: hsl(200, 15%, 8%);
                                span{color: hsl(200, 15%, 8%);font-weight: 600;}}}}
                    .info_f{
                        .i_border{color: hsl(200, 15%, 8%);}
                        .borders{
                            p{color: hsl(200, 15%, 8%);background-color:hsl(0, 0%, 100%);font-weight: 600;}}}}}}}
}
